html,
body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
    color: #FFFFFF;
    font-size: 60px;
    width: 140px;
    height: 500px;


}

.btn {
    background-color: #e7e7e7;
    color: #000000;
    padding: 16px 20px;
    border: none;
    margin: 8px;
    opacity: 0.8;
}

.btn:focus {
    opacity: 1;
}