* {
    box-sizing: border-box;
}

html,
body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
}

#overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 999;
}

.form-container {
    padding: 10px;
    background-color: #FFFFFF;
}

.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: #FFFFFF;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .btn:hover {
    opacity: 1;
}

.title {
    font-family: 'Courier New', monospace;
    font-size: 40px;
    color: #04AA6D;
}

.qrcode-outer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0 22px 0;
}